@import play.api.data.Form
@import helper._
@import model._
@(organizaciones: Seq[Organizacion], organizacionForm: Form[OrganizacionFormData])(implicit messages: Messages)

@main("Dashboard") {

    <div class="container">

        <h2>Organizaciones</h2>
        @form(action = routes.Administracion.addOrg) {
            <table id="orgTable">
                <tr>
                    <td>Usuario</td>
                    <td>Contraseña</td>
                </tr>
                @for(org <- organizaciones) {
                    <tr id="@org.id">
                        <td>@org.user</td>
                        <td>@org.password</td>
                    </tr>
                }
                <tr>
                    <td>@inputText(organizacionForm("user"))</td>
                    <td>@inputText(organizacionForm("password"))</td>
                </tr>
            </table>
            <button type="submit">Agregar</button>
        }
    </div>

    <script>
        function addTableRowEvent() {
            var table = document.getElementById("orgTable");
            var rows = document.getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                var currentRow = table.rows[i];
                var createClickHandler = function(row){
                    return function () {
                        window.location = "/dashboard/organizacion/"+row.id;
                    };
                };
                currentRow.onclick = createClickHandler(currentRow)
            }
        }
        addTableRowEvent();
    </script>

}