@import play.api.data.Form
@import helper._
@import model._
@(idOrg: Int, gasto: Gasto, files: Seq[FileUpload], fileForm: Form[FileUploadFormData])(implicit messages: Messages)

@main("Gastos") {

    <div class="container">

        <div class="card blue-grey lighten-5 z-depth-3">
            <div class="card-content">

                <div class="row">
                    <div class="col s12">
                        <a href="@routes.Administracion.organizacion(idOrg)">Regresar</a>
                        <h4 class="thin">Gasto @gasto.noGasto</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                    @for(file <- files) {
                        <div class="card blue-grey darken-1 waves-effect waves-block waves-light">

                            <div class="card-content white-text">
                                <div class="row activator">
                                    <div class="col s7 activator">
                                        <span class="card-title activator">@file.diaUpload/@file.mesUpload/@file.anioUpload</span>
                                    </div>
                                    <div class="col s5 activator">
                                        <h5 class="activator thin">Importe cubierto = @file.importe</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="card-reveal">
                                <span class="card-title activator">@file.diaUpload/@file.mesUpload/@file.anioUpload</span>
                                <span>Nombre de archivo PDF</span>
                                <p class="thin">@file.namePDF</p>

                                <span>Nombre de archivo XML</span>
                                <p class="thin">@file.nameXML</p>
                            </div>

                        </div>
                    }
                    </div>
                </div>

                <div class="row">
                    <div class="col s8">
                        <h5 class="thin">Importe a cubrir: @gasto.importe</h5>
                    </div>
                    <div class="col s4">
                        <h5 class="thin">Total cubierto: @{files.map((f) => f.importe).sum}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">

                        <form action="/dashboard/organizacion/@idOrg/@gasto.noGasto/upload" method="post" enctype="multipart/form-data">
                            <div class="row">

                                <div class="file-field input-field col s6">
                                    <div class="btn">
                                        <span>Archivo</span>
                                        <input type="file" name="PDF" accept=".pdf">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Archivo PDF">
                                    </div>
                                </div>

                                <div class="input-field col s6">
                                    <input type="number" step="0.01" name="Importe" id="importe">
                                    <label for="importe">Importe</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="file-field input-field col s6">
                                    <div class="btn">
                                        <span>Archivo</span>
                                        <input type="file" name="XML" accept=".xml">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Archivo XML">
                                    </div>
                                </div>

                                <div class="col s6">
                                    <div class="right">
                                        <button class="btn waves-effect waves-light" type="submit" style="margin-top: 25px">
                                            Subir comprobante
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

}