@import play.api.data.Form
@import helper._
@import model._
@(idOrg: Int, gasto: Gasto, files: Seq[FileUpload], fileForm: Form[FileUploadFormData])(implicit messages: Messages)

@main("Gastos") {

    <div class="container">

        <a href="@routes.Administracion.organizacion(idOrg)">Regresar</a>

        <h2>Gastos</h2>

        <p>Importe a cubrir: @gasto.importe</p>

        @for(file <- files) {
            <p>@file.diaUpload/@file.mesUpload/@file.anioUpload -> @file.pathPDF</p>
            <p>@file.diaUpload/@file.mesUpload/@file.anioUpload -> @file.pathXML</p>
            <p>Importe total = @file.importe</p>
        }

        @form(action = routes.Administracion.upload(idOrg, gasto.noGasto), 'enctype -> "multipart/form-data") {
            <input type="file" name="PDF" accept=".pdf">
            <input type="file" name="XML" accept=".xml">
            @inputText(fileForm("Importe"))
            <p>
                <input type="submit">
            </p>
        }

    </div>

}