@(org: String, title: String)

@main(title) {

    <div class="container">

        <div class="row">
            <h2 class="title"> Favor de subir sus facturas </h2>
        </div>

        <div class="row" id="form">
            @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

                <input type="file" name="picture">

                <p>
                    <input type="submit">
                </p>

            }
        </div>

        <footer>

        </footer>

    </div>

}