@import play.api.data.Form
@import helper._
@import model.OrganizacionFormData
@(organizacionForm: Form[OrganizacionFormData])(implicit messages: Messages)

@main("Login") {

    <!-- Insert CSS file to header -->
    <script type="text/javascript">
            function loadCSS(filename){
                var file = document.createElement("link");
                file.setAttribute("rel", "stylesheet");
                file.setAttribute("type", "text/css");
                file.setAttribute("href", filename);

                if (typeof file !== "undefined")
                    document.head.appendChild(file);
            }
            loadCSS("@routes.Assets.at("stylesheets/login.css")");
    </script>

    <!-- Login -->
    <div class="container">

        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card">Bienvenido</p>

            @form(action = routes.Application.authenticate(), 'class -> "form-signin form-margin-top") {
                @inputText(organizacionForm("user"), 'class -> "validate", 'placeholder -> "Organizacion")
                @inputPassword(organizacionForm("password"), 'class -> "form-control", 'placeholder -> "Contraseña")
                <button class="btn btn-lg btn-block btn-signin margin-top" type="submit">Login</button>
            }

        </div><!-- /card-container -->

    </div><!-- /container -->

}