@import play.api.data.Form
@import helper._
@import model.OrganizacionFormData
@(organizacionForm: Form[OrganizacionFormData])(implicit messages: Messages)

@main("Login") {

    <div class="container">
        <br>
        <br>
        <br>
        <br>

        <div class="row">

            <div class="card blue-grey lighten-5 z-depth-3 col s6 push-s3">
                <div class="card-content">

                    <div class="row">
                        <div class="center">
                            <h2 id="profile-name" class="thin">Bienvenido</h2>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s10 push-s1">
                            <form action="/authenticate" method="post">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" id="user" name="user" placeholder="Nombre de tu organizacion">
                                        <label for="user">Organizacion</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" id="password" name="password" placeholder="Tu contraseña">
                                        <label for="password">Contraseña</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field right">
                                        <button class="btn waves-effect waves-light" type="submit">Login
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!--Row-->


                </div> <!--Card Content-->
            </div> <!--Card-->

        </div> <!--Row-->

    </div> <!--Container-->

}